body {
    margin: 0;
    background-image: url("img/vecteezyfloral-background-2ik0521_generated.jpg");
    background-size: 900px 900px;
    height: 1800px;
}

html{
    scroll-behavior: smooth;
}


#top{
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.75)), url("img/vecteezyfloral-background-2ik0521_generated.jpg");
    width: 100%;
    background-size: 900px 900px;
}

#logo{
    float: left;
    position: relative;
}

#title{
    position: relative;
    float: left;
    color: rgb(140, 130, 130);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-shadow: 0px 0px 28px rgb(131, 130, 130);
}

#menu{
    background-color: rgba(49, 44, 44, 0.947);
}

#menu a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    transition: background-color 800ms;
    box-shadow: 0px 0px 0px 0.6px rgb(0, 0, 0) inset;
}

#menu a:hover {
    background-color: #ddd;
    color: black;
}



#mid{
    background-color: rgb(49, 44, 44);
    background-size: 900px 900px;
}



h1{
    color: rgba(254, 202, 72, 0.825);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px white;
}

#tabela h2{
    color: rgba(121, 149, 0, 0.825);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px white;
}

#opis p{
    color: grey;
    font-family: monospace;
}

#tabela table{
    font-family: sans-serif;
    border-collapse: collapse;
}

#tabela thead tr {
    background-color: #54691D;
    color: #ffffff;
    text-align: left;
}

#tabela tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
#tabela tbody tr:nth-of-type(odd){
    color: white;
    background-color: #383838;
}

#odnosniki h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(121, 149, 0, 0.825);
    text-shadow: 1px 1px white;
}

#odnosniki #k2,
#odnosniki #k1{
    background-color: whitesmoke;
    background: #FFAE2B;
    transition: all ease .5s;
    float: left;
}

#odnosniki #k2 h3,
#odnosniki #k1 h3{
    color: black;
    font-family: Comic Sans, cursive;
}

#odnosniki #k2 ul li,
#odnosniki #k1 ol li{
    font-family: Comic Sans, cursive;
}

#odnosniki #k2 p{
    position: relative;
}

#footer{
    background-color: rgb(49, 44, 44);
    margin-top: 100px;
    width: 100%;
    height: 100px;
}

#footer h2{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(120, 116, 116);
    text-align: center;
}

#footer p{
    text-align: center;
    color: rgb(185, 185, 185);
}


@media screen and (max-width:600px) {
    #top {
        height: 158px;
    }


    #logo {
        margin-top: 3px;
        margin-left: 3px;
    }

    #logoimg {
        width: 150px;
        height: 150px;
    }

    #title {
        letter-spacing: 5px;
        font-size: 35px;
        width: 47%;
        height: 40px;
        left: 5%;
        top: 20px;
    }

    #titleeff {
        font-size: 9vw;
        background-image: -webkit-linear-gradient(120deg, green, blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    #menu {
        float: left;
        position: relative;
        width: 100%;
        left: 0px;
    }

    #menu a {
        padding: 2%;
        font-size: 18px;
        width: 46%;
        height: 20px;
    }



    #mid {
        margin-top: 35vw;
        margin-left: 7%;
        margin-right: 7%;
        height: 1670px;
        border-radius: 40px;;
    }




    .container {
        position: relative;
        top: 15px;
        padding: 30px;
    }
    .mySlides img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .mySlides {
        display: none;
    }

    .cursor {
        cursor: pointer;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    .next {
        right: 30px;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 10px;
        color: white;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .column {
        float: left;
        width: 14.25%;
    }

    .demo {
        opacity: 0.6;
    }

    .active,
    .demo:hover {
        opacity: 1;
    }




    h1{
        font-size: 25px;
        text-align: center;
        letter-spacing: 1px;
        padding-top: 15px;
    }




    #opis p{
        padding-left: 15px;
        padding-right: 10px;
        text-indent: 10px;
        font-size: 15px;
    }




    #tabela h2{
        font-size: 20px;
        text-align: center;
        letter-spacing: 1px;
        padding-top: 15px;
    }
    #tabela table{
        margin: 1px 0;
        font-size: 2.7vw;
        width: 90%;
        margin-left: 5%;
    }

    #tabela th,
    #tabela td {
    padding: 6px 7px;
    height: 25px;
    }
    #tabela tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    
    #tabela tbody tr:last-of-type {
        border-bottom: 2px solid #54691D;
    }
    #tabela{
        margin-bottom: 30px;
    }




    #odnosniki h2{
        font-size: 20px;
        text-align: center;
        letter-spacing: 1px;
        padding-top: 15px;
    }

    #odnosniki #k1{
        width: 38%;
        height: 300px;
        margin-left: 8%;
        border-top-left-radius: 250px 15px;
        border-bottom-left-radius: 20px 115px;
        border-bottom-right-radius: 105px 35px;

    }
    #odnosniki #k1:hover {
        border-top-right-radius: 200px 150px;
    }
    #odnosniki #k1 h3{
        font-size: 14px;
        font-weight: 400;
        margin-left: 10px;
        padding-top: 10px;
    }
    #odnosniki #k1 ol li{
        font-size: 10px;
        margin-left: -25px;
        margin-bottom: 8px;
    }


    #odnosniki #k2{
        width: 38%;
        height: 300px;
        margin-left: 8%;
        border-top-left-radius: 250px 5px;
        border-top-right-radius: 20px 115px;
        border-bottom-left-radius: 105px 35px;
        border-bottom-right-radius: 50px 20px;
    }
    #odnosniki #k2:hover {
        border-top-right-radius: 200px 150px;
    }

    #odnosniki #k2 h3{
        margin-top: 7px;
        font-size: 14px;
        font-weight: 400;
        margin-left: 10px;
        padding-top: 10px;
    }
    #odnosniki #k2 p{
        font-size: 9px;
        top: -15px;
        left: 8px;
        max-width: 90px;
    }
    #odnosniki #k2 ul li{
        font-family: Comic Sans, cursive;
        font-size: 10px;
        margin-left: -23px;
        margin-bottom: 8px;
    }
    #odnosniki #k2 ul{
        margin-top: -5px;
    }





    #footer h2{
        font-weight: 100;
        padding-top: 20px;
        font-size: 20px;
    }
    #footer p{
        font-size: 12px;
        font-weight: 100;
        margin-top: -8px;
    }
}


@media screen and (min-width:600px){
    #top{
        height: 200px;
    }

    #logo{
        margin-top: 10px;
        margin-left: 10px;
    }

    #logoimg{
        width: 180px;
        height: 180px;
    }

    #title{
        letter-spacing: 10px;
        font-size: 40px;
        width: 67%;
        height: 50px;
        top: 20px;
        text-align: center;
    }

    @media screen and (min-width:1087px){
        #title{
            top:60px;
            margin-left: 7%;
        }
    }

    #titleeff {
        font-size:70px;
        background-image: -webkit-linear-gradient(120deg, green, blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #menu{
        float: left;
        position: relative;
        width: 100%;
        left: 0px;
        margin-top: 5px;
    }
    #menu a {
        padding: 2%;
        font-size: 18px;
        width: 21%;
        height: 20px;
    }

    #mid{
        margin-top: 15vw;;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 40px;
        height: 1800px;
    }

    @media screen and (min-width:760px){
        #mid{
            height: 1900px;
        }
    }

    @media screen and (min-width:900px){
        #mid{
            height: 2000px;
        }
    }

    @media screen and (min-width:1050px){
        #mid{
            height: 2100px;
        }
    }

    .container {
        position: relative;
        top: 15px;
        padding: 30px;
    }

    .mySlides img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .mySlides {
        display: none;
    }

    .cursor {
        cursor: pointer;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    .next {
        right: 30px;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 10px;
        color: white;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .column {
        float: left;
        width: 14.25%;
    }

    .demo {
        opacity: 0.6;
    }

    .active,
    .demo:hover {
        opacity: 1;
    }

    h1{
        font-size: 25px;
        text-align: center;
        letter-spacing: 1px;
        padding-top: 15px;
    }
    #opis p{
        padding-left: 15px;
        padding-right: 10px;
        text-indent: 10px;
        font-size: 15px;
    }

    #tabela h2{
        font-size: 20px;
        text-align: center;
        letter-spacing: 1px;
        padding-top: 15px;
    }
    #tabela table{
        margin: 1px 0;
        font-size: 2.1vw;
        width: 90%;
        margin-left: 5%;
    }
    @media screen and (min-width:800px){
        #tabela table{
            font-size: 17px;
        }
    }

        #tabela th,
    #tabela td {
    padding: 6px 7px;
    height: 50px;
    }
    #tabela tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    
    #tabela tbody tr:last-of-type {
        border-bottom: 2px solid #54691D;
    }
    #tabela{
        margin-bottom: 30px;
    }


    #odnosniki h2{
        font-size: 20px;
        text-align: center;
        letter-spacing: 1px;
        padding-top: 15px;
    }

    #odnosniki #k1{
        width: 38%;
        height: 300px;
        margin-left: 8%;
        border-top-left-radius: 250px 15px;
        border-bottom-left-radius: 20px 115px;
        border-bottom-right-radius: 105px 35px;

    }
    #odnosniki #k1:hover {
        border-top-right-radius: 200px 150px;
    }
    #odnosniki #k1 h3{
        font-size: 28px;
        font-weight: 400;
        margin-left: 10px;
        padding-top: -5px;
    }
    #odnosniki #k1 ol li{
        font-size: 13px;
        margin-left: -15px;
        margin-bottom: 8px;
    }


    #odnosniki #k2{
        width: 38%;
        height: 300px;
        margin-left: 8%;
        border-top-left-radius: 250px 5px;
        border-top-right-radius: 20px 115px;
        border-bottom-left-radius: 105px 35px;
        border-bottom-right-radius: 50px 20px;
    }
    #odnosniki #k2:hover {
        border-top-right-radius: 200px 150px;
    }

    #odnosniki #k2 h3{
        margin-top: 7px;
        font-size: 28px;
        font-weight: 400;
        margin-left: 10px;
        padding-top: 10px;
    }
    #odnosniki #k2 p{
        font-size: 12px;
        top: -25px;
        left: 8px;
    }
    #odnosniki #k2 ul li{
        font-family: Comic Sans, cursive;
        font-size: 13px;
        margin-left: -15px;
        margin-bottom: 8px;
    }
    #odnosniki #k2 ul{
        margin-top: -5px;
    }
    @media screen and (min-width:601px) {
        @media screen and (max-width:698px){
            #odnosniki #k2 ul{
                margin-top: -35px;
            }
        }
    }



    #footer h2{
        font-weight: 100;
        padding-top: 20px;
        font-size: 20px;
    }
    #footer p{
        font-size: 12px;
        font-weight: 100;
        margin-top: -8px;
    }

}



@media screen and (min-width:1200px){
    #mid{
        clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%);
        border-top-left-radius: 0px;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        height: 2000px;
    }

    h1{
        font-size:30px ;
        text-align: left;
        padding-top: 50px;
        margin-left: 20px;
        width: 300px;
    }

    #opis p{
        width: 350px;
        font-size: 25px;
        float: left;
        line-height: 2.4vw;
    }
    .container{
        float: left;
        position: relative;
        width: 63%;
        margin-left: 1.5vw;
    }

    #hrgallery{
        visibility: hidden;
    }

    #hrtable{
        clear: left;
    }

    #tabela h2{
        margin-top: 30px;
        font-size: 30px;
        letter-spacing: 7px;
    }

    #odnosniki h2{
        font-size: 40px;
        letter-spacing: 7px;
    }

    #odnosniki #k2 h3,
    #odnosniki #k1 h3{
        font-size: 35px;
    }

    #odnosniki #k1 h3{
        margin-top: 20px;
    }

    #odnosniki #k1 ol li,
    #odnosniki #k2 ul li{
        margin-left: -1px;
        font-size: 15px;
    }

    #odnosniki #k1 ol,
    #odnosniki #k2 ul{
        margin-top: -20px;
    }

    #odnosniki #k2 p{
        top: -35px;
        font-size: 17px;
        left: 12px;
    }
}   